@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
// @import url(//db.onlinewebfonts.com/c/457055c70a9c98aa64002f05d6652edc?family=ITC+Eras);
//===========PLANTILLA===============

// :root{  
  
//   //colores
//   --negro     : rgb(39, 39, 39);
//   --blanco    : rgb(222,222,222);
//   --sombra1   : rgba(55,55,55,.4);
//   --sombra2   : rgba(255,255,255,1);
//   --auxiliar1 : #DFAC12;
//   --auxAmarillo: rgba(223,173,16,.4);
//   --auxiliar2 : #00814A;

//   --marcado : rgb(rgb(0, 204, 255));

//   //tipografías
//   --tipo-principal  : Helvetica, Arial, sans-serif;
//   --tipo-secundaria : 'Open Sans', sans-serif;
//   --tipo-terciaria  : 'Roboto', sans-serif;


//   @font-face {
//     font-family: 'ITC Eras Demi';
//     src: url('../public/ITC Eras Demi.woff2');
//   }


// }



:root{  

  @font-face {
    font-family: 'ITC Eras Demi';
    src: url('public/tipografias/ITC Eras Demi/ITC Eras Demi.ttf');
  }
  
  //colores
  --negro     : rgb(39, 39, 39);
  --blanco    : rgb(222,222,222);
  --sombra1   : rgba(111,111,111,.2);
  --sombra2   : rgba(255,255,255,1);
  --auxiliar1 : #DFAC12;
  --auxAmarillo: rgba(223,173,16,.2);
  --auxiliar2 : #00814A;

  --marcado : rgb(rgb(0, 204, 255));

  //tipografías
  --tipo-principal  : Helvetica, Arial, sans-serif;
  --tipo-secundaria : 'Open Sans', sans-serif;
  --tipo-terciaria  : 'Roboto', sans-serif;
  --tipo-erasdemi   : 'ITC Eras';



  // --tipo-auxiliar   : 'ITC Eras Demi', sans-serif;

  // @font-face {
  //   font-family: "ITC Eras"; src: url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.eot"); src: url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.woff") format("woff"), url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/457055c70a9c98aa64002f05d6652edc.svg#ITC Eras") format("svg");
  //   // font-family: 'ITC Eras Demi';
  //   // src: url('../public/ITC Eras Demi.woff2');
  // }
  // @import url(//db.onlinewebfonts.com/c/457055c70a9c98aa64002f05d6652edc?family=ITC+Eras);

}